body {
  background-color: #ffffff;
    font-family: "Helvetica", sans-serif;
    color: #ffffff;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/The_blue_hour.jpg/800px-The_blue_hour.jpg?20180503100806");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
 h1 {
    color: rgb(217, 255, 0);
    font-family: "Times New Roman", serif;
  }

  footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  }

  .column {
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .column {
      width: 50%;
    }
  }

.tinyPicture {
    height: 60px;
    border-radius: 10px;
}
.card {
    width: 230px;
    height: 230px;
    border: 2px solid #f80000;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    font-family: "Trebuchet MS", sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.card:hover {
    border-color: #1E90FF;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}


nav ul {
    background-color: rgb(14, 70, 0);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
  }

    nav ul li {
        list-style-type: none;     
        margin-right: 10px;
        margin-left: 10px;
        color: rgb(255, 239, 98);
    }
    nav ul li a {
      text-decoration: none;
      color: #ffffff;
  }

img {
  border-radius: 20px;
}

p.primero {
  background: rgba(0, 0, 0, 0.418);
}

div.libro {
  width: 500px;
  height: 180px;
  background: rgba(251, 255, 34, 0.418);
    font-family: "Helvetica", sans-serif;
    color: #000000;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

div.autor {
  width: 370px;
  height: 25px;
  background: rgba(251, 255, 34, 0.418);
    font-family: "Helvetica", sans-serif;
    color: #000000;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}



.stylishBox {
  width: 500px;
  height: 270px;
  background-color: #c1ebec;
  color: #A52A2A;
  border-style: solid;
  border-width: 2px;
  border-color: #F5FFFA;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}
.someSpacing {
  padding: 10px;
  margin-top: 20px;
}
.letrero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}






/**********************************
This section is for styling tables
***********************************/
table, th, td {
  border: 1px solid HoneyDew;
  border-collapse: collapse;
}
tr {
  background-color: PaleTurquoise;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th {
  color: purple;
}
td {
  color: purple;
}
/********************************/